<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light justify-content-between">
      <%= link_to "Wikinimous", articles_path %>
      <form class="form-inline">
        <%= link_to "New Article", new_article_path %>
      </form>
    </nav>
  <div class="container">
  <div class="row justify-content-center">
  <div class="col-sm-8 col-sm-offset-2">
     <%= yield %>
     </div>
     </div>
  </div>
  </body>
</html>
